/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 .carousel .carousel-inner {
    height: 480px;
}

body {
    font-family: 'main_custom','Open sans',Arial,sans-serif;
}

#header .logo {
    max-height: 100px;
    height: auto;
    max-width: 156%;
}

#header .header-top {
    padding: 0;
}

#header {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
    color: black;
}

.top-menu a[data-depth="0"] {
    font-size: 0.96rem;
    font-weight: 80;
}

#wrapper {
    padding-top: 0;
    background: white;
}

.header-top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.2rem;
}

#search_widget{
    margin-right: 7rem;
    margin-left: 4rem;
    min-width: 28rem;
    color: black;
}

#header .menu{
    display: flex;
    padding: 5px 10px 8px;
    text-transform: uppercase;
    justify-content: center;
}

#search_widget form input {
    padding: 10px;
    outline: none;
    background-color: white;
    border-bottom: 1px solid;
    border-top: none;
    border-left: none;
    border-color: black;
    border-right: none;
    border-radius: 0;
    letter-spacing: 0.03rem;
}

#search_widget form i {
    margin-left: -2.5rem;
}

.container {
    width: 1200px;
    max-width: 100%;
}

input{
    font-size: 0.7rem;
    color: black;
}

.signin{
    margin-left: -1.4rem;
    color: #333f4f;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #333f4f;
    font-size: 0.8rem;
    margin-left: -1.7rem;
}

.logout{
    margin-top: 0.15rem;
}

.user-info p.signin:before{
    content: '\E8A0';
    margin-bottom: 0.2rem;
}

.user-info p.signout:before{
    content: '\E8A0';
}

.user-info p.signout:before, .user-info p.signin:before, .favorites_icon a:before, #_desktop_cart p:before{
    font-size: 1.1rem;
    font-family: FontAwesome;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('img/fontello.eot#iefix') format('embedded-opentype'),url('img/fontello.woff?r=1709290328') format('woff'),url('img/fontello.ttf?r=1709290328') format('truetype'),url('img/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

#_desktop_user_info{
    margin-right: 2.5rem;
    margin-top: 1rem;
    margin-bottom: -1.2rem;
}

#_desktop_cart{
    margin-top: 1rem;
    margin-right: 1.3rem;
}

#_desktop_cart p:before{
    content: '\E89F';
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

.cart-products-count{
    margin-left: 0.2rem;
    color: #333f4f;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer {
    padding-top: 0rem;
}

#products .products-section-title, .featured-products .products-section-title, .product-accessories .products-section-title {
    margin-bottom: 4rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    margin: 2rem 56% 4rem 44%;
}

.products-section-title:hover{
    color: #b13f81;
}

#_favorites{
    margin-top: 1rem;
    margin-right: 3rem;
}

.favorite_label{
    color: #333f4f;
    font-size: 0.8rem;
}

.favorites_icon a:before {
    content: '\E86D';
    font-size: 1.6rem;
    margin-left: 2rem;
}

.log_icon{
    font-size: 28px;
    color: #333f4f;
}

.low_footer{
    color: #333f4f;
    font-size: 0.78rem;
    margin-bottom: 1.9rem;
}

.footer-container li a {
    font-size: 0.88rem;
    color: #333f4f;
    cursor: pointer;
}

.footer-container li {
    vertical-align: middle;
}

.footer-container{
    color: #333f4f;
    font-size: 0.88rem;
}

.contact_footer_list{
    display: table;
    justify-self: center;
    margin-bottom: 1rem;
}

.contact_footer_list a{
    text-decoration: underline;
}

.contact_footer_list li
{
    display: table-cell;
    padding-right: 1.2rem;
    white-space: nowrap;
}

.price_info__text{
    color: #999;
    font-size: 0.7rem;
}

.footer-container{
    letter-spacing: 0.028rem;
}

#price_info hr {
    margin-top: -0.6rem;
    width: 56%;
    border-top: 1.5px solid rgba(0,0,0,0.1);
}

#price_info{
    margin-bottom: 2.4rem
}
.idosell__img {
    float: right;
    margin-top: -2.3rem;
}

.col-md-6{
    width: unset;
}

.footer_half_column{
    margin-top: -2rem;
    border: solid 1px #ccc;
    border-radius: 15px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: unset;
}

.footer_column{
    margin-right: 4rem;
}

.links{
    margin-bottom: 1.6rem;
    margin-left: 0.9rem;
}

.links li a {
    font-size: 0.77rem;
    color: #333f4f;
}

.links .link_title{
    color: #333f4f;
}

.fc3{
    margin-left: 1rem;
}

.fc3 .link_title {
    width: 75%;
}

.fc4 {
    float:right;
    margin-right: 0.1rem;
    margin-left: -2.8rem;
}

.fc1{
    margin-left: 0.4rem;
}

.fc2
{
    margin-left: 0.4rem;
}

.link-custom-page-status-zamowienia-1,
.link-custom-page-sledzenie-przesylki-1,
.link-custom-page-chce-zareklamowac-produkt-1,
.link-custom-page-chce-zwrocic-produkt-1,
.link-custom-page-chce-wymienic-produkt-1,
.link-custom-page-kontakt-1,
.link-custom-page-zarejestruj-sie-2,
.link-custom-page-koszyk-2,
.link-custom-page-listy-zakupowe-2,
.link-custom-page-lista-zakupionych-produktow-2,
.link-custom-page-historia-transakcji-2,
.link-custom-page-moje-rabaty-2,
.link-custom-page-newsletter-2 {
    color: #b13f81;
    font-style: normal;
    font-size: 1.05rem;
    font-family: FontAwesome;
    margin-right: 0.2rem;
}


.link-custom-page-status-zamowienia-1::before {
    content: "\E871";
}

.link-custom-page-sledzenie-przesylki-1::before {
    content: "\f0d1";
}

.link-custom-page-chce-zareklamowac-produkt-1::before {
    content: "\E872";
}

.link-custom-page-chce-zwrocic-produkt-1::before {
    content: "\E877";
}

.link-custom-page-chce-wymienic-produkt-1::before {
    content: "\E873";
}

.link-custom-page-kontakt-1::before {
    content: "\F095";
}

.link-custom-page-zarejestruj-sie-2::before {
    content: "\E874";
}

.link-custom-page-koszyk-2::before {
    content: "\e80B";
}

.link-custom-page-listy-zakupowe-2::before {
    content: "\E86D";
}

.link-custom-page-lista-zakupionych-produktow-2::before {
    content: "\E875";
}

.link-custom-page-historia-transakcji-2::before {
    content: "\f017";
}

.link-custom-page-moje-rabaty-2::before {
    content: "\E878";
}

.link-custom-page-newsletter-2::before {
    content: "\E876";
}

